html {
  background-color: #101010;
}

.Offline {
  visibility: visible;
}

.Online {
  visibility: hidden;
}

body {
  background-color: transparent;
}

.navbar.navbar-light.navbar-expand-md {
  background-color: white;
}

.fa.fa-check {
  color: green;
}

.fa.fa-close {
  color: red;
}

picture {
  margin-left: 5px;
}

.btn.btn-primary.Online {
  background-color: white;
  color: black;
}

.btn.btn-primary.Offline {
  background-color: white;
  color: black;
}

.btn.btn-primary {
  margin-left: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.copyright {
  font-style: italic;
  font-weight: bolder;
}

