.card.border-dark {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  border: none;
}

.copyright {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.card-text {
  color: white;
}

.card-header {
  background-color: transparent;
}

.card-body {
  background-color: transparent;
}

.card.border-dark {
  background-color: transparent;
}

.border-dark {
  border-color: white;
}

.d-flex.card-footer {
  background-color: transparent;
}

.fas {
  color: rgb(255,255,255);
}

.fa {
  color: rgb(255,255,255);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(237,216,143);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.card-bodyv2 {
  background-color: rgba(103,45,145,0.63);
}

.cardB {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.img {
  margin-bottom: 11px;
}

